@import url("https://fonts.googleapis.com/css?family=Pacifico");

.drop {
  position: relative;
  width: 200px;
  height: 200px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 28px !important;
}
