.username {
  font-size: 1.7rem !important;
}

.headerLinks {
  font-size: 14px;
  color: #262626;
  font-weight: 700;
}

.headerLinks:hover {
  text-decoration: none;
  color: #262626;
}

.card-img-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
